body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.footer {
    background: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}