body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    min-height: 100vh;
}

.header,
.footer,
.boxOne {
    background: #1F2937;
}

.header,
.footer {
    display: flex;
    align-items: center;
}

.footer,
.textOne,
.textFour,
button,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    justify-content: space-around;
}

.logo,
.headingOne {
    color: #F9FAF8;
}

.boxOne,
.boxThree,
.boxFour {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.boxOne {
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 350px;
    max-height: 350px;
    margin: 3em;
}

.headingOne {
    font-size: 48px;
    font-weight: bolder;
}

.boxTwo {
    text-align: center;
    padding-bottom: 4em;
}

.containerTwo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
}

.infoTwo {
    max-width: 300px;
}

.textTwo {
    font-size: 18px;
    margin-top: 10px;
}

.boxTwo h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxThree {
    background: #e5e7eb;
}

.textThree {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 750px;
    margin: 2em;
}

.modal {
    background: #3882F6;
    display: flex;
    border-radius: 10px;
    max-width: 700px;
    margin: 2em;
    padding: 2em;
}


.footer {
    justify-content: center;
    padding: 2em 0em;
    margin-top: auto;
}

.textFour h1 {
    margin: 0;
    padding: 0;
}


.modal button {
    border: solid white;
    padding: 0 2em;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

button {
    background: #3882F6;
    padding: 0px 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}