body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.footer {
    background: #1F2937;
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    padding: 0 4em;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}